.mainContainer {
    position: fixed ;
    width : 100%;
    height : 100%;
    z-index: 999999;
    background-size: cover;
}

.blink-button {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right : 0;
    background-color: #e8e8e8;
    width: auto;
    margin-right:0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 99999;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
  }
  /* .dropdown-content::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #333;
  } */
  
  /* .dropdown:hover .dropdown-content {
    display: block;
  } */

.buttons-position{
    position: absolute;
    top: 180px;
    margin-left: 100px;
}
.green-button{
  background-color: green;
  border: 1px solid #e8e8e8;
  color: #fff;
  display: block;
  padding: 2px 10px;
  cursor: default;
  margin-bottom: 5px;
  
}
.numcheck{
  display: flex;
  align-items: center;
}
.red-button{
  background-color: red;
  border: 1px solid #e8e8e8;
  color: #fff;
  display: block;
  padding: 2px 10px;
  cursor: default;
  margin-bottom: 5px;

}
.btn-pop-check{
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 0px;
  width: 20px;
  height: 20px;
}
.clkable{
  cursor: pointer;
}
.only1button-position{
    position: absolute;
    top: 135px;
    margin-left: 180px;
}

button.btn-approve {
  border: 1px solid green;
  font-size: 12px;
  text-transform: capitalize;
  border-radius: 4px;
  color: green;
  margin-left:10px;
}
tr:nth-child(even) {
  background-color: #fff;
}

.loadingPlacePopup {
  width: 240px;
}
.loadingPlacePopup .header h6 {
  font-weight: 700;
}
.loadingPlacePopup .body {
  padding: 15px 0px 15px 0px;
}
.loadingPlacePopup .body div{
  display: inline-block;
}
.loading_place{
  margin-right: 15px;  
  width: 112px;
}
.loading_place select,.driving_mode select{
  padding: 5px;
  width: 80px;
}
button.cancel{
  border: 1px solid #d32f2f !important;
  color: #d32f2f !important;
}
button.save{
  border: 1px solid green !important;
  color: green !important;
  margin-right:10px;
}