.body {
    margin-top: 0px;
    margin-left: 0px;
}

#page_1 {
    position: relative;
    overflow: hidden;
    margin: 12px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 1123px;
    height: 782px;
}

#page_1 #id1_1 {
    border: none;
    margin: 87px 0px 0px 198px;
    padding: 0px;
    border: none;
    width: 925px;
    overflow: hidden;
}

#page_1 #id1_1 #id1_1_1 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 366px;
    overflow: hidden;
}

#page_1 #id1_1 #id1_1_2 {
    float: left;
    border: none;
    margin: 4px 0px 0px 44px;
    padding: 0px;
    border: none;
    width: 232px;
    overflow: hidden;
}

#page_1 #id1_1 #id1_1_3 {
    float: left;
    border: none;
    margin: 386px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 283px;
    overflow: hidden;
}

#page_1 #id1_2 {
    border: none;
    margin: 31px 0px 0px 478px;
    padding: 0px;
    border: none;
    width: 645px;
    overflow: hidden;
}

#page_1 #p1dimg1 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 981px;
    height: 782px;
}

#page_1 #p1dimg1 #p1img1 {
    width: 981px;
    height: 782px;
}




.dclr {
    clear: both;
    float: none;
    height: 1px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.ft0 {
    font: bold 8px 'Calibri';
    color: transparent;
    line-height: 10px;
}

.ft1 {
    font: 1px 'Calibri Light';
    line-height: 7px;
}

.ft2 {
    font: 1px 'Calibri Light';
    line-height: 1px;
}

.ft3 {
    font: bold 8px 'Calibri';
    color: transparent;
    background-color: #3359a9;
    line-height: 10px;
}

.ft4 {
    font: bold 10px 'Arial';
    line-height: 12px;
}

.ft5 {
    font: bold 9px 'Calibri';
    color: #00208b;
    line-height: 11px;
}

.ft6 {
    font: 6px 'Calibri Light';
    line-height: 8px;
}

.ft7 {
    font: 6px 'Calibri Light';
    color: transparent;
    line-height: 8px;
}

.ft8 {
    font: bold 8px 'Calibri';
    color: #00208b;
    line-height: 10px;
}

.ft9 {
    font: 6px 'Calibri Light';
    line-height: 7px;
}

.p0 {
    text-align: left;
    padding-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p1 {
    text-align: left;
    padding-left: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p2 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p3 {
    text-align: left;
    padding-left: 31px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p4 {
    text-align: left;
    padding-left: 77px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p5 {
    text-align: center;
    padding-right: 168px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p6 {
    text-align: left;
    padding-left: 160px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p7 {
    text-align: left;
    padding-left: 102px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p8 {
    text-align: center;
    padding-right: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p9 {
    text-align: left;
    padding-left: 34px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.p10 {
    text-align: left;
    margin-top: 150px;
    margin-bottom: 0px;
}

.p11 {
    text-align: left;
    padding-left: 45px;
    margin-top: 81px;
    margin-bottom: 0px;
}

.p12 {
    text-align: left;
    padding-left: 45px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.p13 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.p14 {
    text-align: left;
    padding-left: 124px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.p15 {
    text-align: left;
    padding-left: 29px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p16 {
    text-align: left;
    padding-left: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p17 {
    text-align: left;
    padding-left: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.td0 {
    padding: 0px;
    margin: 0px;
    width: 219px;
    vertical-align: bottom;
}

.td1 {
    padding: 0px;
    margin: 0px;
    width: 147px;
    vertical-align: bottom;
}

.td2 {
    padding: 0px;
    margin: 0px;
    width: 366px;
    vertical-align: bottom;
}

.td3 {
    padding: 0px;
    margin: 0px;
    width: 26px;
    vertical-align: bottom;
}

.td4 {
    padding: 0px;
    margin: 0px;
    width: 127px;
    vertical-align: bottom;
}

.td5 {
    padding: 0px;
    margin: 0px;
    width: 110px;
    vertical-align: bottom;
}

.td6 {
    padding: 0px;
    margin: 0px;
    width: 83px;
    vertical-align: bottom;
}

.td7 {
    padding: 0px;
    margin: 0px;
    width: 174px;
    vertical-align: bottom;
}

.td8 {
    padding: 0px;
    margin: 0px;
    width: 43px;
    vertical-align: bottom;
}

.td9 {
    padding: 0px;
    margin: 0px;
    width: 40px;
    vertical-align: bottom;
}

.td10 {
    padding: 0px;
    margin: 0px;
    width: 60px;
    vertical-align: bottom;
}

.td11 {
    padding: 0px;
    margin: 0px;
    width: 67px;
    vertical-align: bottom;
}

.td12 {
    border-bottom: #00208b 1px solid;
    padding: 0px;
    margin: 0px;
    width: 127px;
    vertical-align: bottom;
}

.td13 {
    border-bottom: #00208b 1px solid;
    padding: 0px;
    margin: 0px;
    width: 110px;
    vertical-align: bottom;
}

.td14 {
    border-bottom: #00208b 1px solid;
    padding: 0px;
    margin: 0px;
    width: 83px;
    vertical-align: bottom;
}

.td15 {
    border-bottom: #00208b 1px solid;
    padding: 0px;
    margin: 0px;
    width: 174px;
    vertical-align: bottom;
}

.tr0 {
    height: 14px;
}

.tr1 {
    height: 21px;
}

.tr2 {
    height: 7px;
}

.tr3 {
    height: 69px;
}

.tr4 {
    height: 29px;
}

.tr5 {
    height: 22px;
}

.tr6 {
    height: 80px;
}

.tr7 {
    height: 10px;
}

.tr8 {
    height: 36px;
}

.tr9 {
    height: 123px;
}

.tr10 {
    height: 113px;
}

.tr11 {
    height: 11px;
}

.tr12 {
    height: 8px;
}

.tr13 {
    height: 12px;
}

.tr14 {
    height: 9px;
}

.t0 {
    width: 366px;
    font: bold 8px 'Calibri';
    color: transparent;
}

.t1 {
    width: 26px;
    margin-left: 108px;
    margin-top: 153px;
    font: bold 8px 'Calibri';
    color: transparent;
}

.t2 {
    width: 494px;
    margin-top: 104px;
    font: 6px 'Calibri Light';
}

.text1 {
    position: absolute;
    left: 10%;
    top: 45px;
    height: 203px;
    width: 14%;
    background-color: transparent;
  }
  .text2 {
    position: absolute;
    left: 42%;
    top: 118px;
    height: 156px;
    width: 11%;
    background-color: transparent;
  }

  .text3 {
    position: absolute;
    left: 56%;
    top: 42px;
    height: 207px;
    width: 11%;
    background-color: transparent;
  }

  .text4 {
    position: absolute;
    left: 10%;
    top: 250px;
    height: 149px;
    width: 24%;
    background-color: transparent;
  }

  .text5 {
    position: absolute;
    left: 34%;
    top: 360px;
    height: 39px;
    width: 6%;
    background-color: transparent;
    margin-left: 2px;
  }

  .text6 {
    position: absolute;
    left: 10%;
    top: 403px;
    height: 365px;
    width: 8.8%;
    background-color: transparent;
  }

  .text7 {
    position: absolute;
    left: 19%;
    top: 403px;
    height: 365px;
    width: 6.3%;
    background-color: transparent;
  }
  .text8 {
    position: absolute;
    left: 25.5%;
    top: 403px;
    height: 365px;
    width: 18.3%;
    background-color: transparent;
  }
  .text9 {
    position: absolute;
    left: 53.5%;
    top: 442px;
    height: 365px;
    width: 13.3%;
    background-color: transparent;
  }

  .text10 {
    position: absolute;
    left: 9.5%;
    top: 772px;
    height: 195px;
    width: 4.3%;
    background-color: transparent;
  }

  .text11 {
    position: absolute;
    left: 16.8%;
    top: 777px;
    height: 240px;
    width: 14.3%;
    background-color: transparent;
  }

  .text12 {
    position: absolute;
    left: 34.5%;
    top: 771px;
    height: 70px;
    width: 2.3%;
    background-color: transparent;
  }

  .text13 {
    position: absolute;
    left: 37.7%;
    top: 772px;
    height: 195px;
    width: 6.3%;
    background-color: transparent;
  }

  .text14 {
    position: absolute;
    left: 58.9%;
    top: 959px;
    height: 24px;
    width: 9.3%;
    background-color: transparent;
  }
  .text15 {
    position: absolute;
    left: 58.9%;
    top: 997px;
    height: 24px;
    width: 9.3%;
    background-color: transparent;
  }

  .text16 {
    position: absolute;
    left: 72%;
    top: 531px;
    height: 150px;
    width: 6.3%;
    background-color: transparent;
  }

  .text17 {
    position: absolute;
    left: 67%;
    top: 442px;
    height: 365px;
    width: 3%;
    background-color: transparent;
  }

  .text18 {
    position: absolute;
    left: 31.8%;
    top: 860px;
    height: 168px;
    width: 2.3%;
    background-color: transparent;
  }

  .text19 {
    position: absolute;
    left: 53%;
    top: 1075px;
    height: 24px;
    width: 9.3%;
    background-color: transparent;
  }



  .bg {  
   
    /* Full height */
    height: 500px; 
  
    /* Center and scale the image nicely */
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
  }